<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><!--<img src="./images/dimNioras-logo-small-512px.png">-->
        <a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="./documents/dimNioras-resume.pdf">Resume</a></li>
            <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
            <li><a href="https://dimnioras.wordpress.com/athens-public-transport-history-en/">Athens Archive</a></li>
            <li><a href="https://gitlab.com/dimnioras/paperbusmodels">PaperBusModels</a></li>
            <!--<li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>-->
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}
            <li><a href="mailto:dimnioras@icloud.com" class="button special">Contact</a></li>
        </ul>
    </nav>
</header>