
/* Font Import */
@font-face{
    font-family: 'Liberation', sans-serif;
    src: url(font/LiberationSans-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'Liberation', sans-serif;
    font-weight: bold;
    src: url(font/LiberationSans-Bold.ttf) format('truetype');
}
@font-face{
    font-family: 'Liberation', sans-serif;
    font-style: italic;
    src: url(font/LiberationSans-Italic.ttf) format('truetype');
}
@font-face{
    font-family: 'Liberation', sans-serif;
    font-weight: bold;
    font-style: italic;
    src: url(font/LiberationSans-BoldItalic.ttf) format('truetype');
}
@font-face{
    font-family: 'Liberation', serif;
    src: url(font/LiberationSerif-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'Liberation', serif;
    font-weight: bold;
    src: url(font/LiberationSerif-Bold.ttf) format('truetype');
}
@font-face{
    font-family: 'Liberation', serif;
    font-style: italic;
    src: url(font/LiberationSerif-Italic.ttf) format('truetype');
}
@font-face{
    font-family: 'Liberation', serif;
    font-weight: bold;
    font-style: italic;
    src: url(font/LiberationSerif-BoldItalic.ttf) format('truetype');
}
@font-face{
    font-family: 'Liberation', monospace;
    src: url(font/LiberationMono-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'Liberation', monospace;
    font-weight: bold;
    src: url(font/LiberationMono-Bold.ttf) format('truetype');
}
@font-face{
    font-family: 'Liberation', monospace;
    font-style: italic;
    src: url(font/LiberationMono-Italic.ttf) format('truetype');
}
@font-face{
    font-family: 'Liberation', monospace;
    font-weight: bold;
    font-style: italic;
    src: url(font/LiberationMono-BoldItalic.ttf) format('truetype');
}
/* End of Font Import */

/* Class/Id Declaration*/

.logo {
    grid-area: logo;
    align-self: middle;
}

.navBar {
    grid-area: navBar;
}

/* End of Class Declaration*/

/* Layout */

* {
    padding: 0;
    margin: 0;
}

header {
    background: linear-gradient(rgba(200, 200, 210, 0.5), rgba(200, 200, 210, 0.5)), url(../images/header.jpg) no-repeat center center fixed #000;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 1em 1em;

    display: grid;
    grid-template-columns: 100px 1fr 3fr;
    grid-template-rows: 1fr 1.5fr 1fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
    'logo . navBar'
    '. . .'
    'h1 h1 h1'
    'h2 h2 h2';
}

h1 {
    grid-area: h1;
    font-family: 'Liberation', Times, serif;
    font-weight: 500;
    font-size: 5em;
    color: #002b80;
    text-shadow: 1px 1px #011848;
    vertical-align: bottom;
}

h2 {
    grid-area: h2;
    font-family: 'Liberation', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.75em;
    color: #002b80;
    text-shadow: 1px 1px #011848;
    vertical-align: top;
}

.wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}

}

.navList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 2em;
    grid-template-areas:
        'home'
        'projects'
        'athPTHistory'
        'paperBusModels';
    padding-top: 1em;
    line-height: 2em;
    text-transform: uppercase;
    font-family: 'Liberation', sans-serif;
}

.navList > li {
    justify-self: center;
}

.navList >li a {
    color: #000000;
    padding: 1em;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0,0,0,.7);
}

.navList > li a:hover, .navList >li a:focus {
    color: #fff;
    background-color: #ff6c6c;
    transition: background-color 1s ease-out;
}

.navList {
    list-style-type: none;
}

.home{
    grid-area: home;
}

.projects {
    grid-area: projects;
}

.athpthistory {
    grid-area: athPTHistory;
}

.paperbusmodels {
    grid-area: paperBusModels;
}

@media (min-width:700px) {
    .navList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 2em;
        grid-template-areas:
            'home projects athPTHistory paperBusModels';
        padding-top: 1em;
        line-height: 2em;
        text-transform: uppercase;
        font-family: 'Liberation', sans-serif;
    }
}
